:root {
        --blue: #0066FF;
        --red: #de1a00;
        --gray: #E5E7EB;
        --border-color: #d3d3d3;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
        background-color: var(--gray);
        max-width: 480px;
        margin: auto;
}

textarea {
        resize: vertical;
}

/* Home page */
.home-page {
        margin: auto;
        padding: 16px 10px;
}

.home-page .search-button {
        font-size: 1rem;
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;

        border-radius: 50px;
        background-color: #fff;
        text-align: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
}

.add-ulam-button {
        font-size: 1rem;
        display: block;
        width: 100%;
        padding: 10px;
        border: none;

        border-radius: 4px;
        background-color: var(--blue);
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: 500;
}

.home-page .no-ulams-prompt {
        text-align: center;
        margin-top: 5px;
}

/* Add ulam page & Edit ulam page*/
.add-ulam-page header, .search-page header, .ulam-profile-page header, .edit-ulam-page header {
        padding: 16px 16px 8px 16px;
}

.add-ulam-page form, .edit-ulam-page form {
        font-size: 1rem;
        display: block;
        padding: 10px;
        margin: auto;
        border: none;
}

.add-ulam-page input, .add-ulam-page textarea, .edit-ulam-page input, .edit-ulam-page textarea {
        width: 100%;
        margin: 10px 0;
        padding: 8px;
        line-height: 1.5;
        /* border-radius: 4px; */

        /* background-color: #f7f7f7; */
}

.add-ulam-page button, .edit-ulam-page button {
        width: 100%;
        margin: 0;
}

.edit-ulam-page .delete-ulam-button {
        font-size: 1rem;
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        margin-bottom: 5px;

        border-radius: 4px;
        background-color: var(--red);
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: 500;
}

/* Search ulam page */
.search-page form {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
}

.search-page form input {
        padding: 10px 16px;
        width: 100%;
        border: none;
        
        border-radius: 16px;
}

.search-page form button {
        padding: 10px 16px;
        border: none;

        border-radius: 16px;
        background-color: var(--blue);
        color: #fff;
        font-weight: 900;
}

.search-page .available-ingredients-container {
        display: none;
        padding: 10px;
        margin-top: 10px;

        background-color: #fff;
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
}

.search-page .available-ingredient {
        display: inline-block;
        padding: 5px 5px 5px 10px;
        margin-bottom: 5px;

        border: 1px solid var(--border-color);
        border-radius: 16px;
}

.search-page .available-ingredient .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
}

.search-page .available-ingredient .content button {
        padding: 0 5px;

        background-color: rgba(0,0,0,0);
        border: none;

        cursor: pointer;
}

.search-page .matched-ulams {
        padding: 0 10px;
}

/* Ulams */
.ulams {
        margin: 10px 0;
        border-top: 1px solid var(--border-color);

}

.ulam {
        padding: 10px;
        margin: 10px 0;
        
        border-radius: 8px;
        background-color: #fff;
        /* box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2); */
        border: 2px solid var(--border-color);

        cursor: pointer;
}

/* Ulam Profile */
.ulam-profile-page .ulam-profile {
        padding: 20px;
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);

        background-color: #fff;
}

.ulam-profile-page .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.ulam-profile-page .ulam-title {
        font-size: 18px;
}

.ulam-profile-page .ingredients-container {
        padding: 10px 0 5px 0;
}

.ulam-profile-page .ingredients-container p {
        margin-bottom: 8px;
}

.ulam-profile-page .ingredient {
        display: block;
        padding: 0 0 5px 32px;
}

.ulam-profile-page .steps-container {
        padding-top: 5px;
}

.ulam-profile-page .steps-container p {
        margin-bottom: 8px;
}        

.ulam-profile-page ol {
        padding-left: 3rem;
}

.ulam-profile-page ol li {
        padding-bottom: 5px;
}